html{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    box-sizing: border-box;
    
	
}

*,
*:after,
*::before{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

.row {
    display: grid;
    grid-template-columns: 50% 50%;
}

.row2 {
    display: frid;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 50px;
}

.msjoculto{
    display: none;
}


.row3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}


.imgpedido{
    width: 50px;
}


.shopping-cart-item {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.cardnegocio {
    border-radius: 50%;
    background: #d06e0e;
    /* box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF; */
    cursor: pointer;
    height: 60px;
    position: fixed;
    margin-top: 3px;
    width: 60px;
    z-index: 30;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    top: 50%;
    right: 20px;
    z-index: 997;
    color: white;
    text-align: center;
    font-size: 2em;
}

/* menu flotante  movil color menu2 */

.cardmenu{
	position: fixed;
	bottom: 0;
	z-index: 998;
	right: -100%;
	transition: .55s .1s cubic-bezier(0, 1.07, 0, 1.02);
    width: 100%;
    min-height: 0;
}

.cardmenu2{
    display: grid;
    position: relative;
}

.whatboton2 {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: -1px;
    right: 0;

    border-radius: 30px;
    box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background-color: #25d366;
}

.whatmbien2{
 

max-height: calc(100vh - 100px);
    height: 210px;
    overflow: hidden auto;
    background: #ede4dd url(img/backchat.webp) center repeat-y;
    background-size: 100% auto;
    border-radius: 30px;
}

.whatmesage2 {
    position: relative;
    padding: 20px;
    margin: 26px 26px;
    border-radius: 32px;
    background-color: #fff;
    color: #4a4a4a;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}


.cardmenu .hul2{
	width: 75%;
	height: 100%;
	position: relative;

	font-size: 1em;
	background:  rgb(242, 238, 246, .9);
    float: right;
    border-radius: 30px 0 0 30px;
    overflow: hidden;
    bottom: 20px;
    max-width: 400px;
    box-shadow: 10px 10px 34px -11px rgba(0,0,0,1);
	
}

/* mostra la caja de chat */

.mostrarcardmenu{
    right: 0;
}

.mostrarmenu{
    display: none;
}


/*  */

.hwhat{
    float: none;
    display: flex;
    align-items: center;
    position: static;
    width: 100%;
    height: 70px;
    padding: 0 26px;
    margin: 0;
    background-color: #25d366;
    color: white;
    border-radius: 30px 0 0;
}

.icon-x{
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 18px;
    right: 24px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    text-align: center;
    opacity: .2;
    cursor: pointer;
    transition: opacity .3s ease-out;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
}

.iconxmodals{
    top: 0;
    right: 0;
    background: rgba(255,255,255,.3);
    color: white;
    opacity: .4;
}

.icon-x:before {
    content: "\ea0f";
    margin: 0 auto;
    font-size: 10px;
    font-weight: 200;
}

.whatmbien{
    max-height: calc(100vh - 100px);
    padding: 20px 0 80px 0;
    overflow: hidden auto;
    background: #ede4dd url(img/backchat.webp) center repeat-y;
    background-size: 100% auto;

}

.whatlogo{
    display: flex;
    align-items: center;
}
.whatlogo .lw{
    font-size: 28px;
}

.wtext{
    margin-left: 5px;
    font-size: 19px;
    font-weight: bold;
}


.unowhat{
    
    position: absolute;
    display: none;
    bottom: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: green;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    box-shadow: none;
    pointer-events: none;
    color: white;
}
    
/* .uwc2{
    visibility: hidden;
    position: absolute;

}cuando se usa js por scroll */ 

.whatmesage {
    position: relative;
   
    padding: 20px;
    margin: 0 26px 26px;
    border-radius: 32px;
    background-color: #fff;
    color: #4a4a4a;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}

.whatboton{
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 8px;
    right: 8px;
    border-radius: 30px;
    box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background-color: #25d366;
}


.whatboton a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.whatboton a span{
    margin: 0 10px;
    
    color: white;
}

.whatboton img {
    border-radius: 50%;
    height: 60px;
}

.whatboton2 a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.whatboton2 a span{
    margin: 0 10px;
    
    color: white;
}

.whatboton2 img {
    border-radius: 50%;
    height: 60px;
}



span.wtext2 {
    color: white;
    font-size: 27px;
    margin-left: 3px;
}

span.icon-whatsapp.lw {
 
    color: white;
}
/*  */
.mw {
    font-size: 39px;
    color: #fff;
    text-align: center;
}

.hamburger:before:hover{
	width: 25px;
    height: 3px;
}

.hamburger {
    position: fixed;
    top: 24px;
    left: 15px;
    width: 20px;
    height: 2px;
    background: #ffffff;;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}



.hamburger:after,
.hamburger:before {
    background: #ffffff;
    content: "";
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger:before {
    top: -8px;
}

.hamburger:after {
    bottom: -8px;
}

input#ordernumber {
    text-align: center;
}

.ordenrandom {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

.shopping-cart-quantity.d-flex.justify-content-between.align-items-center.h-100.border-bottom.pb-2.pt-3 {
    text-align: -webkit-center;
}

button.btn.btn-success.ml-auto.comprarButton {
    opacity: 0;
    pointer-events: none;
}


/* animacion formas de pago */


.mk,.mk3,.mk4{
    display: none;
}
.show {
    display: grid;
  
 }

 .btnpagos{
    padding: 5px 15px;
    background: #f7fafc;
    border-radius: 2px;
    color: #888;
    border-style: dashed;
    border-color: rgba(203,213,224,8);
 }



.info {
    text-align: center;
    padding: 20px;
    color: #001f3f;
    border-bottom: 1px solid #ccc;
}
.info p {
    margin-top: 20px;
}




.formasdepagos input[type="radio"] {
    display: none;
}
.formasdepagos ¿input[type="radio"]:checked + label:before {
    display: none;
}
 



 label.eti1 , label.eti2  , label.eti3 , label.eti4 {
    color: #555;
    padding: 0px 0px 0px 39px;
    cursor: pointer;

   

}

.formasdepagos{
   display: grid;
}

label.eti1:before , label.eti2:before  , label.eti3:before , label.eti4:before {
    content: "";
    width: 13px;
    height: 13px;
    display: inline-block;
    background: none;
    border: 2px solid #25d366;
    border-radius: 50%;
   position: absolute;
left: 13px;


}




.formasdepagos input[type="radio"]:checked + label.eti1,

.formasdepagos input[type="radio"]:checked + label.eti3,
.formasdepagos input[type="radio"]:checked + label.eti4


{
   padding: 5px 15px;
   margin: 20px;

   border-radius: 2px;
   color:#666;
  
}


.formasdepagos input[type="radio"]:checked + label:before{
   background: #25d366;
} 

.ctacte{
font-size: 12px;
}

 
/* payphone */

img.payqr {
    width: 50%;
    align-items: center;
    justify-content: center;
}

.payphonecaja {
    display: grid;
 
    justify-items: center;
    grid-gap: 20px;
}
/* input styles */

.item_cantidadt input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .item_cantidadt input[type=number]::-webkit-inner-spin-button,
  .item_cantidadt input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .item_cantidadt {
    border: 2px solid #ddd;
    display: inline-flex;
  }
  
  .item_cantidadt,
  .item_cantidadt * {
    box-sizing: border-box;
  }
  
  .item_cantidadt button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .item_cantidadt button:before,
  .item_cantidadt button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
  }
  .item_cantidadt button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .item_cantidadt input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
  }

/* gurdar los datos de productos en un  div fantasma */
.fantasma{opacity: 0;
    width: 1px;
    height: 1px;

}

span.xcerrar {
    display: grid;
    grid-template-columns: auto auto;
}